<!DOCTYPE html>
<html>
	<head>
		<title>Illiquid Assets | Home</title>
		<link rel="stylesheet" href="assets/stylesheets/normalize.css">
		<link rel="stylesheet" href="assets/stylesheets/custom.css">
	<body>
		<header>
			<a href="home" id="logo">
			<h1>Illiquidy</h1>
			<h2>A simple map of your illiquid assets</h2>
			</a>
		</header>	
	</body>
</html>