<%= provide(:title, "Home") %>
	<div id="wrapper">
			<section>
				<a href="add"><button type="button">Add asset!</button></a>
				<a href="posts"><button type="button">View Assets</button></a>
			
		</section>
		</div>
	</body>
